In [2]:
import pandas as pd
df = pd.read_excel('dataset/veriseti.xlsx')
df.head()

,PaymentTransactionID,Pan,TransactionType,CreateDate,TransactionStatus,Amount,TransactionRequestDate,TransactionResponseDate,CardBrandName,CardBankName,CardFamily,CardType
0,35099,558460******5519,1,2023-10-20 13:47:06.007,1,9000.00,2023-10-20 13:47:07,2023-10-20 13:47:08,MASTERCARD,DENİZBANK A.Ş.,Bonus,CREDIT
1,35098,526911******1733,1,2023-10-20 13:44:17,2,0.60,2023-10-20 13:44:18,2023-10-20 13:44:19,MASTERCARD,FİNANS BANK A.Ş.,CardFinans,CREDIT
2,35097,466282******0602,3,2023-10-20 13:43:48,1,245.00,2023-10-20 13:43:49,2023-10-20 13:43:50,VISA,ALTERNATİF BANK A.Ş.,Bonus,CREDIT
3,35096,411979******8898,1,2023-10-20 13:43:19,1,8500.00,2023-10-20 13:43:21,2023-10-20 13:43:22,VISA,T. VAKIFLAR BANKASI T.A.O.,World,CREDIT
4,35095,411979******8898,1,2023-10-20 13:40:54.077,1,8500.00,2023-10-20 13:40:55,2023-10-20 13:40:56,VISA,T. VAKIFLAR BANKASI T.A.O.,World,CREDIT

In [4]:
#TransactionStatus sütununda eğer 2 varsa onu 1 yapar(başarılı işlem), diğerlerini 0 yapar (başarısız veya beklemedeki işlem)
df['TransactionStatus'] = df['TransactionStatus'].apply(lambda x: 1 if x == 2 else 0)

In [6]:
#Tarih içeren sütunları datetime formatına çeviriyoruz
df['CreateDate'] = pd.to_datetime(df['CreateDate'], errors = 'coerce')
df['TransactionRequestDate'] = pd.to_datetime(df['TransactionRequestDate'], errors = 'coerce')
df['TransactionResponseDate'] = pd.to_datetime(df['TransactionResponseDate'], errors = 'coerce')

In [10]:
#Tarih içeren sütunların null olan satırlarına forward fill uyguluyoruz
df['TransactionRequestDate'] = df['TransactionRequestDate'].ffill()
df['TransactionResponseDate'] = df['TransactionResponseDate'].ffill()

In [12]:
#Date içeriğini elde ediyoruz
df['CreateYear'] = df['CreateDate'].dt.year
df['CreateMonth'] = df['CreateDate'].dt.month
df['CreateDay'] = df['CreateDate'].dt.day
df['CreateHour'] = df['CreateDate'].dt.hour
df['RequestYear'] = df['TransactionRequestDate'].dt.year
df['RequestMonth'] = df['TransactionRequestDate'].dt.month
df['RequestDay'] = df['TransactionRequestDate'].dt.day
df['RequestHour'] = df['TransactionRequestDate'].dt.hour
df['ResponseYear'] = df['TransactionResponseDate'].dt.year
df['ResponseMonth'] = df['TransactionResponseDate'].dt.month
df['ResponseDay'] = df['TransactionResponseDate'].dt.day
df['ResponseHour'] = df['TransactionResponseDate'].dt.hour

#Veri setinde date içeren sütunları atıyoruz
df.drop(['CreateDate', 'TransactionRequestDate', 'TransactionResponseDate'], axis=1, inplace=True)

In [14]:
#Kategorik veri içeren sütunlara One-Hot Encoding işlemi uyguluyoruz
df = pd.get_dummies(df, columns = ['CardBrandName', 'CardBankName', 'CardFamily', 'CardType'], drop_first = True)

In [18]:
print(df.head())

   PaymentTransactionID               Pan  TransactionType  TransactionStatus  \
0                 35099  558460******5519                1                  0
1                 35098  526911******1733                1                  1
2                 35097  466282******0602                3                  0
3                 35096  411979******8898                1                  0
4                 35095  411979******8898                1                  0

    Amount  CreateYear  CreateMonth  CreateDay  CreateHour  RequestYear  ...  \
0  9000.00        2023           10         20          13       2023.0  ...
1     0.60        2023           10         20          13       2023.0  ...
2   245.00        2023           10         20          13       2023.0  ...
3  8500.00        2023           10         20          13       2023.0  ...
4  8500.00        2023           10         20          13       2023.0  ...

   CardFamily_Bonus  CardFamily_COMBO  CardFamily_CardFinans  \
0              True             False                  False
1             False             False                   True
2              True             False                  False
3             False             False                  False
4             False             False                  False

   CardFamily_Combo  CardFamily_Maximum  CardFamily_PARAF  \
0             False               False             False
1             False               False             False
2             False               False             False
3             False               False             False
4             False               False             False

   CardFamily_SAGLAMKART  CardFamily_World  CardType_DEBIT  \
0                  False             False           False
1                  False             False           False
2                  False             False           False
3                  False              True           False
4                  False              True           False

   CardType_PREPAİD KART
0                  False
1                  False
2                  False
3                  False
4                  False

[5 rows x 53 columns]

PaymentTransactionID                                            0
Pan                                                            46
TransactionType                                                 0
TransactionStatus                                               0
Amount                                                          0
CreateYear                                                      0
CreateMonth                                                     0
CreateDay                                                       0
CreateHour                                                      0
RequestYear                                                     0
RequestMonth                                                    0
RequestDay                                                      0
RequestHour                                                     0
ResponseYear                                                    0
ResponseMonth                                                   0
ResponseDay                                                     0
ResponseHour                                                    0
CardBrandName_MASTERCARD                                        0
CardBrandName_TROY                                              0
CardBrandName_VISA                                              0
CardBankName_AKTİF YATIRIM BANKASI A.Ş.                         0
CardBankName_ALTERNATİF BANK A.Ş.                               0
CardBankName_DENİZBANK A.Ş.                                     0
CardBankName_FIBABANKA A.Ş.                                     0
CardBankName_FİNANS BANK A.Ş.                                   0
CardBankName_HSBC BANK A.Ş.                                     0
CardBankName_ING BANK A.Ş.                                      0
CardBankName_KUVEYT TÜRK KATILIM BANKASI A.Ş.                   0
CardBankName_ODEA BANK A.Ş.                                     0
CardBankName_PAPARA ELEKTRONİK PARA HİZMETLERİ A.Ş              0
CardBankName_T. GARANTİ BANKASI A.Ş.                            0
CardBankName_T. VAKIFLAR BANKASI T.A.O.                         0
CardBankName_T. İŞ BANKASI A.Ş.                                 0
CardBankName_T.C.ZİRAAT BANKASI A.Ş.                            0
CardBankName_T.HALK BANKASI A.Ş.                                0
CardBankName_TÜRK EKONOMİ BANKASI A.Ş.                          0
CardBankName_TÜRKİYE FİNANS KATILIM BANKASI A.Ş.                0
CardBankName_VAKIF KATILIM BANKASI A.Ş.                         0
CardBankName_YAPI VE KREDİ BANKASI A.Ş.                         0
CardBankName_ZİRAAT KATILIM BANKASI A.Ş.                        0
CardBankName_İNİNAL ÖDEME VE ELEKTRONİK PARA HİZMETLERİ AŞ.     0
CardBankName_ŞEKERBANK T.A.Ş.                                   0
CardFamily_Axess                                                0
CardFamily_Bonus                                                0
CardFamily_COMBO                                                0
CardFamily_CardFinans                                           0
CardFamily_Combo                                                0
CardFamily_Maximum                                              0
CardFamily_PARAF                                                0
CardFamily_SAGLAMKART                                           0
CardFamily_World                                                0
CardType_DEBIT                                                  0
CardType_PREPAİD KART                                           0
dtype: int64

In [18]:
df.dropna(subset = ['Pan'], inplace = True)

In [20]:
df

,PaymentTransactionID,Pan,TransactionType,TransactionStatus,Amount,CreateYear,CreateMonth,CreateDay,CreateHour,RequestYear,...,CardFamily_Bonus,CardFamily_COMBO,CardFamily_CardFinans,CardFamily_Combo,CardFamily_Maximum,CardFamily_PARAF,CardFamily_SAGLAMKART,CardFamily_World,CardType_DEBIT,CardType_PREPAİD KART
0,35099,558460******5519,1,0,9000.00,2023,10,20,13,2023,...,True,False,False,False,False,False,False,False,False,False
1,35098,526911******1733,1,1,0.60,2023,10,20,13,2023,...,False,False,True,False,False,False,False,False,False,False
2,35097,466282******0602,3,0,245.00,2023,10,20,13,2023,...,True,False,False,False,False,False,False,False,False,False
3,35096,411979******8898,1,0,8500.00,2023,10,20,13,2023,...,False,False,False,False,False,False,False,True,False,False
4,35095,411979******8898,1,0,8500.00,2023,10,20,13,2023,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,34045,529876******4768,1,1,23578.51,2023,10,16,16,2023,...,True,False,False,False,False,False,False,False,False,False
995,34044,525864******6602,1,0,1100.00,2023,10,16,16,2023,...,False,False,False,False,False,False,False,True,False,False
996,34043,411156******1485,3,1,1275.00,2023,10,16,16,2023,...,True,False,False,False,False,False,False,False,False,False
997,34042,5526 4*********5177,2,1,58830.45,2023,10,16,15,2023,...,False,False,False,False,False,False,False,False,False,False
999,34040,489455******1912,3,1,1275.00,2023,10,16,15,2023,...,False,False,False,False,False,False,False,False,True,False

In [22]:
df.isnull().sum()

PaymentTransactionID                                           0
Pan                                                            0
TransactionType                                                0
TransactionStatus                                              0
Amount                                                         0
CreateYear                                                     0
CreateMonth                                                    0
CreateDay                                                      0
CreateHour                                                     0
RequestYear                                                    0
RequestMonth                                                   0
RequestDay                                                     0
RequestHour                                                    0
ResponseYear                                                   0
ResponseMonth                                                  0
ResponseDay                                                    0
ResponseHour                                                   0
CardBrandName_MASTERCARD                                       0
CardBrandName_TROY                                             0
CardBrandName_VISA                                             0
CardBankName_AKTİF YATIRIM BANKASI A.Ş.                        0
CardBankName_ALTERNATİF BANK A.Ş.                              0
CardBankName_DENİZBANK A.Ş.                                    0
CardBankName_FIBABANKA A.Ş.                                    0
CardBankName_FİNANS BANK A.Ş.                                  0
CardBankName_HSBC BANK A.Ş.                                    0
CardBankName_ING BANK A.Ş.                                     0
CardBankName_KUVEYT TÜRK KATILIM BANKASI A.Ş.                  0
CardBankName_ODEA BANK A.Ş.                                    0
CardBankName_PAPARA ELEKTRONİK PARA HİZMETLERİ A.Ş             0
CardBankName_T. GARANTİ BANKASI A.Ş.                           0
CardBankName_T. VAKIFLAR BANKASI T.A.O.                        0
CardBankName_T. İŞ BANKASI A.Ş.                                0
CardBankName_T.C.ZİRAAT BANKASI A.Ş.                           0
CardBankName_T.HALK BANKASI A.Ş.                               0
CardBankName_TÜRK EKONOMİ BANKASI A.Ş.                         0
CardBankName_TÜRKİYE FİNANS KATILIM BANKASI A.Ş.               0
CardBankName_VAKIF KATILIM BANKASI A.Ş.                        0
CardBankName_YAPI VE KREDİ BANKASI A.Ş.                        0
CardBankName_ZİRAAT KATILIM BANKASI A.Ş.                       0
CardBankName_İNİNAL ÖDEME VE ELEKTRONİK PARA HİZMETLERİ AŞ.    0
CardBankName_ŞEKERBANK T.A.Ş.                                  0
CardFamily_Axess                                               0
CardFamily_Bonus                                               0
CardFamily_COMBO                                               0
CardFamily_CardFinans                                          0
CardFamily_Combo                                               0
CardFamily_Maximum                                             0
CardFamily_PARAF                                               0
CardFamily_SAGLAMKART                                          0
CardFamily_World                                               0
CardType_DEBIT                                                 0
CardType_PREPAİD KART                                          0
dtype: int64